html {
    position: relative;
    min-height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
}
body {
    background-color: #f4f5f6;
}

.main .container{
    margin-top: 100px;
    margin-bottom: 190px;
}
.main .serviceBox {
    background: #fff;
    padding: 20px 0 40px;
    position: relative;
}

.main .serviceBox .service-content h3 a {
    font-size: 22px;
    color: #333;
}

.main .serviceBox .service-content p {
    font-size: 18px;
    padding: 0 20px;
    margin: 15px 0 30px;
    color: #333;
}

@media screen and (max-width: 990px) {
    .main .serviceBox {
        margin-bottom: 20px;
        padding: 20px 0;
    }
}

.main .results {
    font-size: 18px;
    margin-left: 40px;
}


.main .mdb-select {
    width: 200px;
}

.main .number {
    width: 90px;
}

.main .form-group-filter .flex-box {
    display: flex;
    flex-direction: row;
}

.main .form-group-filter .item {
    padding-right: 5px;
}

.main .table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.main table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 0;
    width: 90%;
}


.main hr {
    border: none;
    color: #D4D5D6;
    background-color: #d4d5d6;
    height: 1px;
    width: 93%;
}

.main .imgVacancy {
    width: 100%;
    height: 70%;
}

.main .nameVacancy {
    margin-left: 30px;
    color: #b78a62;
    font-weight: bold;
    font-size: 32px;
}
.main .salary {
    margin-left: 30px;
    color: #6b6b6b;
    font-size: 20px;
}

.main .company{
    color: #5b4f39;
}
.main .dataHorizontal{
    color: #888;
    font-size: 16px;
}
.main .descriptHorizontal{
    color: #5b4f39;
    font-size: 16px;
}
.main .description{
    margin-left: 30px;
    margin-right: 30px;
}
.description h3{
    color: #b78a62;
    font-weight: bold;
    font-size: 24px;
}
.description h4{
    color: #b78a62;
    font-weight: bold;
    font-size: 18px;
}
.description .descriptionVacancy{
    color: #5b4f39;
    font-size: 16px;
}
.description ul{
    color: #5b4f39;
    font-size: 16px;
}
.description .btn-outline-secondary:hover {

    background-color: #af7d51;
    border: 2px solid #b78a62;
    color: #ffffff;
}

.description .btn-outline-secondary {
    width: 150px;
    background: #b78a62;
    color: #ffffff;
}
.similar{
    margin-left: 15px;
    margin-right: 15px;
}
.service-content h2{
    margin-top: 0;
    margin-left: 15px;
    color: #333;
    font-size: 20px;
}
.similar h4 a{
    color: #836244;
    font-size: 18px;
}
.service-content h2 a{
    color: #333;
    font-size: 20px;
}



