.header, .about {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}
.modal-login {
    color: #636363;
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
    border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}
.modal-login .modal-footer a {
    color: #999;
}
.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #7eb7ee;
    padding: 15px;
}
.mdb-select{
    color: #999999;
    width: 100%;
}
.modal-login .avatar img {
    width: 100%;
    border-radius: 80%;
}
.modal-login.modal-dialog {
    margin-top: 80px;
}
.modal-login .btn {
    color: #fff;
    border-radius: 4px;
    background: #7eb7ee;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #7eb7ee;
    outline: none;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
    text-align: left;
}


.about img {
    height: 90%;
    width: 90%;
    border-radius: 50%
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #7eb7ee;
}

.about .desc h3 {
    font-size: 27px;
    margin-bottom: 15px;
    color: #7eb7ee;
}

.about .desc1 p {
    line-height: 2;
    color: #888;
}



.about .desc1 {
    padding: 2em;
    border-right: 4px solid #7eb7ee;
}

.about .desc1 h3 {
    font-size: 27px;
    margin-bottom: 15px;
    color: #7eb7ee;
}

.about .desc1 p {
    line-height: 2;
    color: #888;
}

.btn-outline-secondary {
    font-family: 'Roboto', sans-serif;
    width: 150px;
    background-color: #ffffff;
    border: 2px solid #7eb7ee;
    color: #444;
}

.btn-outline-secondary:hover {
    background: #5c8ab2;
    border: 2px solid #5c8ab2;
    color: #ffffff;
}

a, a:hover, a:focus {
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

img {
    max-width: 100%;
}

.navbar {
    margin-bottom: 0;
    background: #444;
    border: 0;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.navbar.navbar-no-bg {
    padding: 5px 0;
    background: #444;

}

.navbar-right {
    margin-right: 0;
}

ul.navbar-nav {
    font-size: 16px;
    color: #fff;
}

.navbar-inverse ul.navbar-nav li a {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse ul.navbar-nav li a:hover {
    color: #ca8bdc;
}

.navbar-inverse ul.navbar-nav li a:focus {
    color: #ca8bdc;
    outline: 0;
}

.navbar-brand {
    width: 95px;
    background: url(../img/logo.png) left center no-repeat;
    text-indent: -99999px;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.navbar-menu-items.disabled {
    display: none;
}

@media (max-width: 767px) {
    .navbar.navbar-no-bg {
        padding: 0;
        background: #444;
    }

    .navbar > .container .navbar-brand {
        margin-left: 15px;
    }

    .navbar-right {
        margin-right: -15px;
    }

    .navbar-collapse {
        border: 0;
    }

    .navbar-inverse ul.navbar-nav li a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #444;
    }

    .navbar-form {
        border: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

